extends layout
block script
  script(src='/javascripts/imagescript.js' defer)
block content
  //h1= title
  //p Welcome to #{title}
  img(id="singleImage" src=`/uploads/${path}`)
  h1 Comments
  div(id='commentDisplay')
    each comment in comments
      div(id= "commentContainer")
        div(id="commentLabel") #{comment.author}
        div(id="commentText") #{comment.text}
  h1 Post Comment
  form(id="commentInput" action=`/comment/${imageid}` method="post")
    ul
      li
        label(for="authorInput") Name:
        input(id="authorInput" name="author" required)
      li
        label(for="inputBox") Comment:
        textarea(id="inputBox" name="text" required)
      button(id='sendButton') Send
