extends layout
block script
  script(src='/javascripts/imagescript.js' defer)
block content
  //h1= title
  //p Welcome to #{title}
  h1 image
  img(src=`/uploads/${path}`)
  h1 comments here
  div(id='commentdisplay')
    each comment in comments
      label #{comment.author}
      p #{comment.text}
  form(id="input" action=`/comment/${path}` method="post")
    input(id="taginput" name="author")
    br
    textarea(id="inputBox" name="text")
    br
    button(id='send') Send
